@{
    Layout="~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="Content/materia.css">
    <meta charset="utf-8" />
    <title>Materias - ALPPI</title>
    <link rel="shortcut icon" href="~/Imagens/ICONE.ico" type="image/x-icon" />
</head>
<div class="container MATERIA">
    <div class="cards__block">
        <div class="card border-secondary mb-3">
            <div class="card-header">Matemática</div>
            <div class="card-body">
                <p class="card-text">Informações sobre a matéria.</p>
                <p class="card-text"><a href="#" class="card-link">verificar</a></p>
            </div>
        </div>
        <div class="card border-secondary mb-3">
            <div class="card-header">Programação</div>
            <div class="card-body">
                <p class="card-text">Informações sobre a matéria.</p>
                <p class="card-text"><a href="#" class="card-link">verificar</a></p>
            </div>
        </div>
    </div>
    <div class="cards__block">
        <div class="card border-secondary mb-3">
            <div class="card-header">Quimica</div>
            <div class="card-body">
                <p class="card-text">Informações sobre a matéria.</p>
                <p class="card-text"><a href="#" class="card-link">verificar</a></p>
            </div>
        </div>
        <div class="card border-secondary mb-3">
            <div class="card-header">Fisica</div>
            <div class="card-body">
                <p class="card-text">Informações sobre a matéria.</p>
                <p class="card-text"><a href="#" class="card-link">verificar</a></p>
            </div>
        </div>
    </div>
</div>


