@{
    Layout="~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="Content/professores.css">
    <meta charset="utf-8" />
    <title>Professores - ALPPI</title>
    <link rel="shortcut icon" href="~/Imagens/ICONE.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <div class="container PROFESSORES">
        <p style="margin: 32px 16px;font-size:3em;color:rgba(0,0,0,.64);">Professores</p>
        <div class="cards__block">
            <div class="card mb-3">
                <h3 class="card-header">Emilio</h3>
                <div class="card-body">
                    <h5 class="card-title">Disciplina</h5>
                    <h6 class="card-subtitle text-muted">Informática</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Professor mestre em Analise de Sistemas, trabalha a 10 anos no IFPR</p>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header">Takao</h3>
                <div class="card-body">
                    <h5 class="card-title">Disciplina</h5>
                    <h6 class="card-subtitle text-muted">Matemática</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Professor mestre em Matemática Aplicada, trabalha a 5 anos no IFPR</p>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header">Alysson</h3>
                <div class="card-body">
                    <h5 class="card-title">Disciplina</h5>
                    <h6 class="card-subtitle text-muted">Fisica</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Professor mestre em Fisica, trabalha a 3 anos no IFPR</p>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header">Marco</h3>
                <div class="card-body">
                    <h5 class="card-title">Disciplina</h5>
                    <h6 class="card-subtitle text-muted">Quimica</h6>
                </div>
                <div class="card-body">
                    <p class="card-text">Professor mestre em Quimica, trabalha a 1 ano no IFPR</p>
                </div>
            </div>
        </div>
    </div>
</body>


