@{
    Layout="~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="Content/sobre.css">
    <meta charset="utf-8" />
    <title>Sobre - ALPPI</title>
    <link rel="shortcut icon" href="~/Imagens/ICONE.ico" type="image/x-icon" />
</head>
<body>
    <div class="container SOBRE">
        <h2 class="about__title">MRM Informática</h2>
        <div class="about__info">
            <p class="text-primary">
                A MRM é uma empresa no ramo de desenvolvimento de sistemas de informática.<br>
                A ideia de fundar a MRM, veio de 3 alunos do Curso Técnico de Informática do IFPR Campus Colombo (Marccus, Rafael e Miguel).<br>
                Esse projeto é o primeiro desenvolvido para a area profissional pela empresa!
            </p>
        </div>
        <div class="comments__container">
            <blockquote class="blockquote text-center">
                <p class="mb-0">Me sinto muito realizado em participar da construção do primeiro projeto da empresa!</p>
                <footer class="blockquote-footer">CEO na empresa MRM -<cite title="Source Title">Marccus Zavadzki</cite></footer>
            </blockquote>
            <blockquote class="blockquote text-center">
                <p class="mb-0">Fico feliz em ajudar o IFPR com o primeiro projeto da empresa, esperamos crescer cada vez mais!</p>
                <footer class="blockquote-footer">CEO na empresa MRM -<cite title="Source Title">Rafael Guthner</cite></footer>
            </blockquote>
            <blockquote class="blockquote text-center">
                <p class="mb-0">O projeto foi longo, mas graças ao apoio que os nossos orientadores nos deram, deu tudo certo!</p>
                <footer class="blockquote-footer">CEO na empresa MRM -<cite title="Source Title">Miguel Nowakowski</cite></footer>
            </blockquote>
        </div>
    </div>
</body>


